{% extends 'appBandmates/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<style>
#hh1{
    text-align: center;
    background-color: moccasin;
    font-family: fantasy;
    color:saddlebrown;
    margin: 0%;
}
#p1{
    background-color: moccasin;
    color:saddlebrown;
    text-align: center;
    margin:0%;
}
</style>
    <h1 id="hh1">Bienvenidos al Bandmates</h1>
    <p id="p1">El sitio que te relaciona con musicos de tus mismos intereses.
        Se podran unir a grupos musicales, formar los suyos, debatir sobre temas relacionados a la musica y mucho mas!
    </p>
{% endblock contenidoQueCambia %}
    